<!DOCTYPE html>
<html lang="en">
<head>
    <title>只在同一个窗口中打开预览页面</title>
    <link rel="import" href="../include/meta.html">
    <link rel="stylesheet" href="https://unpkg.com/lu2/theme/edge/css/common/ui/Button.css">
    <style>
        
    </style>
</head>
<body>
    <link rel="import" href="../include/header.html">
    <div class="main">
        <h1>只在同一个窗口中打开预览的演示页面</h1>
        <div class="show">
            <h3>展示</h3>
            <div class="go-bbs"><a href="https://github.com/zhangxinxu/htmlapi/issues" class="go-bbs">提问交流 &raquo;</a></div>
            <div class="demo">
<button type="primary" class="ui-button">主按钮</button>
<a href="./preview.html" type="primary" class="ui-button" target="_preview">预览</a>     
<button type="primary" class="ui-button">保存为草稿</button> 
<button type="normal" class="ui-button">取消</button>

<p class="remind">// 点击预览按钮</p>
            </div>
            <h3>代码</h3>
            <ul class="codes">
                <li class="code_li">
                    <div class="code_x">
                        <h5>HTML：</h5>
                        <pre name="code" class="html">&lt;a href="./preview.html" target="_preview" type="primary" class="ui-button"&gt;预览&lt;/a&gt;  </pre>
                    </div>
                </li>
            </ul>
        </div>       
    </div>

    <link rel="import" href="../include/footer.html">
</body>
</html>