<!DOCTYPE html>
<html lang="en">
<head>
    <title>download属性与图片下载</title>
    <link rel="import" href="../include/meta.html">
    <link rel="stylesheet" href="https://unpkg.com/lu2/theme/edge/css/common/ui/Button.css">
    <style>
        
    </style>
</head>
<body>
    <link rel="import" href="../include/header.html">
    <div class="main">
        <h1>download属性与图片下载</h1>
        <div class="show">
            <h3>展示</h3>
            <div class="go-bbs"><a href="https://github.com/zhangxinxu/htmlapi/issues" class="go-bbs">提问交流 &raquo;</a></div>
            <div class="demo">

<a href="/assets/example.jpg" type="primary" class="ui-button" download="some-name.jpg">案例图片</a>   

<p class="remind">// zxx: 看看点击按钮后是不是触发了图片下载？</p>

            </div>
            <h3>代码</h3>
            <ul class="codes">
                <li class="code_li">
                    <div class="code_x">
                        <h5>HTML：</h5>
                        <pre name="code" class="html">&lt;a href="/assets/example.jpg" download="some-name.jpg"&gt;案例图片&lt;/a&gt;    </pre>
                    </div>
                </li>
            </ul>
        </div>       
    </div>

    <link rel="import" href="../include/footer.html">
</body>
</html>