<!DOCTYPE html>
<html lang="en">
<head>
    <title>原生popover弹出层查看图片</title>
    <link rel="import" href="../include/meta.html">
<style>
.demo {
    height: 200px;
    display: flex;
    place-items: center;
    justify-content: center;
    text-align: start;
}
.demo img {
    width: 392px;
    display: block;
}
/* [popover]::backdrop {
    background-color: #0002;
} */
</style>
</head>
<body>
    <link rel="import" href="../include/header.html">
    <div class="main">
        <h1>原生popover弹出层查看图片演示页面</h1>
        <div class="show">
            <h3>展示</h3>
            <div class="go-bbs"><a href="https://github.com/zhangxinxu/htmlapi/issues" class="go-bbs">提问交流 &raquo;</a></div>
            <div class="demo">
<button class="button" popovertarget="imgPopover">点击我</button>
<div popover id="imgPopover">
    <img src="/assets/example.jpg" />
</div>
            </div>

            <h3>代码</h3>
            <ul class="codes">
                <li class="code_li">
                    <div class="code_x">
                        <h5>HTML：</h5>
    <pre name="code" class="html">&lt;button class="button" popovertarget="imgPopover"&gt;点击我&lt;/button&gt;
&lt;div popover id="imgPopover"&gt;
    &lt;img src="/assets/example.jpg" /&gt;
&lt;/div&gt;</pre>
                    </div>
                </li>
            </ul>
        </div>       
    </div>

    <link rel="import" href="../include/footer.html">
</body>
</html>