<!DOCTYPE html>
<html lang="en">
<head>
    <title>select多选的value属性重置与样式自定义</title>
    <link rel="import" href="../include/meta.html">
    <style>

select[multiple] {
  padding: 0;
  scrollbar-width: thin;
  border: 1px solid #a2a9b6;
  background-color: #2a80eb;
  min-width: 150px;
  outline: none;
  line-height: 1.25rem;
  border-radius: 4px;
  overflow: auto;
}
option {
  padding: .375rem 2rem .375rem 1rem;
  box-shadow: inset 0 1px #ededef;
  color: #4c5161;
  font-size: .875rem;
  background-color: #fff;
}
option::after {
  content: ' ✓';
  color: transparent;
}
option:hover {
    background-color: #f0f7ff;
}
option:checked {
  background-color: #e0f0ff;
  mix-blend-mode: lighten;
}
option:checked::after {
    color: currentColor;
}
select {
  font-family: system-ui;
}
    </style>
</head>
<body>
    <link rel="import" href="../include/header.html">
    <div class="main">
        <h1>select多选的value属性重置与样式自定义演示页面</h1>
        <div class="show">
            <h3>展示</h3>
            <div class="go-bbs"><a href="https://github.com/zhangxinxu/htmlapi/issues" class="go-bbs">提问交流 &raquo;</a></div>
            <div class="demo">

<select id="select" multiple>
    <option value="1">选项1</option>
    <option value="2">选项2</option>
    <option value="3">选项3</option>
    <option value="4">选项4</option>
    <option value="5">选项5</option>
</select>
            </div>

            <h3>代码</h3>
            <ul class="codes">
                <li class="code_li">
                    <div class="code_x">
                        <h5>HTML：</h5>
    <pre name="code" class="html">&lt;select id="select" multiple&gt;
      &lt;option value="1"&gt;选项1&lt;/option&gt;
      &lt;option value="2"&gt;选项2&lt;/option&gt;
      &lt;option value="3"&gt;选项3&lt;/option&gt;
      &lt;option value="4"&gt;选项4&lt;/option&gt;
      &lt;option value="5"&gt;选项5&lt;/option&gt;
  &lt;/select&gt;</pre></div>
                </li>
                <li class="code_li">
                    <div class="code_x">
                        <h5>CSS：</h5>
    <pre name="code" class="css">select[multiple] {
  padding: 0;
  scrollbar-width: thin;
  border: 1px solid #a2a9b6;
  background-color: #2a80eb;
  min-width: 150px;
  outline: none;
  line-height: 1.25rem;
  border-radius: 4px;
  overflow: auto;
}
option {
  padding: .375rem 2rem .375rem 1rem;
  box-shadow: inset 0 1px #ededef;
  color: #4c5161;
  font-size: .875rem;
  background-color: #fff;
}
option::after {
  content: ' ✓';
  color: transparent;
}
option:hover {
    background-color: #f0f7ff;
}
option:checked {
  background-color: #e0f0ff;
  mix-blend-mode: lighten;
}
option:checked::after {
    color: currentColor;
}</pre>
                    </div>
                </li>
                <li class="code_li">
                    <div class="code_x">
                        <h5>JS：</h5>
    <pre name="code" class="js">// 让多选框的value属性返回所有选中项的值
Object.defineProperty(HTMLSelectElement.prototype, 'value', {
  configurable: true,
  enumerable: true,
  writeable: true,
  get: function () {
    return [...select.selectedOptions].map(option => option.value).join();
  },
  set: function (value) {
    [...this.options].some((option) => {
      if (value.split(',').includes(option.value)) {
        option.selected = true;
        // 单选第一个匹配即选中
        if (!this.multiple) {
          return true;
        }
      } else if (this.multiple) {
        option.selected = false;
      }
    });
  }
});

select.onchange = function () {
  console.log('选中的值：' + this.value);
}</pre>
                    </div>
                </li>
            </ul>
        </div>       
    </div>

<script>
// 让多选框的value属性返回所有选中项的值
Object.defineProperty(HTMLSelectElement.prototype, 'value', {
  configurable: true,
  enumerable: true,
  writeable: true,
  get: function () {
      return [...select.selectedOptions].map(option => option.value).join();
  },
  set: function (value) {
      [].slice.call(this.options).some((option) => {
          if (value.split(',').includes(option.value)) {
              option.selected = true;
            // 单选第一个匹配即选中
              if (!this.multiple) {
                return true;
              }
          } else if (this.multiple) {
              option.selected = false;
          }
      });
  }
});

</script>
<script>
select.onchange = function () {
  console.log('选中的值：' + this.value);
} 
</script>
    <link rel="import" href="../include/footer.html">
</body>
</html>