<!DOCTYPE html>
<html lang="en">
<head>
    <title>你并不精通HTML官网首页</title>
    <link rel="import" href="./include/meta.html">
    <meta name="description" content="你并不精通html配套学习站点首页">
    <meta name="keywords" content="html, htmlapi, 你并不精通html">
    <style>
        .column-x {
            display: flex;
            flex-wrap: wrap;
            margin: 0 1rem 1rem;
        }

        .column {
            flex: auto;
            text-align: left;
            margin: 0 5px 1rem;
            padding: 0 1rem 1rem;
            border: 1px dotted;
        }

        .column-a {
            display: block;
        }
    </style>
</head>
<body>
    <link rel="import" href="./include/header.html">
    <div class="main">
        <h1>《你并不精通HTML》demo原型索引</h1>
        <div class="show">
            <h3>展示</h3>
            <div class="go-bbs"><a href="https://github.com/zhangxinxu/htmlapi/issues" class="go-bbs">提问交流 &raquo;</a></div>
            <div class="demo">
                <div class="column-x">{{replace}}</div>
            </div>
        </div>       
    </div>

    <link rel="import" href="./include/footer.html">
</body>
</html>