<!DOCTYPE html>
<html lang="en">
<head>
    <title>calcMode, keyTimes, keySplines属性作用</title>
    <link rel="import" href="../include/meta.html">
    <style>
.demo {
    width: fit-content;
    margin-inline: auto;
    text-align: start;
}
svg {
    display: block;
    border: 1px solid #ccc;
    margin-top: -1px;
}
    </style>
</head>
<body>
    <link rel="import" href="../include/header.html">
    <div class="main">
        <h1>calcMode, keyTimes, keySplines属性作用演示页面</h1>
        <div class="show">
            <h3>展示</h3>
            <div class="go-bbs"><a href="https://github.com/zhangxinxu/htmlapi/issues" class="go-bbs">提问交流 &raquo;</a></div>
            <div class="demo">
<svg width="300" height="100" xmlns="http://www.w3.org/2000/svg">
    <text font-size="60" y="60" x="160">马
        <animate attributeName="x" dur="5s" values="0; 20; 160" calcMode="linear" />
    </text>
</svg>
<svg width="300" height="100" xmlns="http://www.w3.org/2000/svg">
    <text font-size="60" y="60" x="160">马
        <animate attributeName="x" dur="5s" values="0; 20; 160" calcMode="paced"/>
    </text>
</svg>
<svg width="300" height="100" xmlns="http://www.w3.org/2000/svg">
    <text font-size="60" y="60" x="160">马
        <animate attributeName="x" dur="5s" values="0; 80; 160" keyTimes="0; .8; 1" calcMode="linear"/>
    </text>
</svg>
<svg width="300" height="100" xmlns="http://www.w3.org/2000/svg">
    <text font-size="60" y="60" x="160">马
        <animate attributeName="x" dur="5s" values="0; 80; 160" keyTimes="0; .8; 1" calcMode="spline"  keySplines=".5 0 .5 1; 0 0 1 1" />
    </text>
</svg>
        </div>

            <h3>代码</h3>
            <ul class="codes">
                <li class="code_li">
                    <div class="code_x">
                        <h5>演示HTML：</h5>
    <pre name="code" class="html">&lt;svg width="300" height="100" xmlns="http://www.w3.org/2000/svg"&gt;
    &lt;text font-size="60" y="60" x="160"&gt;马
        &lt;animate attributeName="x" dur="5s" values="0; 20; 160" calcMode="linear" /&gt;
    &lt;/text&gt;
&lt;/svg&gt;
&lt;svg width="300" height="100" xmlns="http://www.w3.org/2000/svg"&gt;
    &lt;text font-size="60" y="60" x="160"&gt;马
        &lt;animate attributeName="x" dur="5s" values="0; 20; 160" calcMode="paced"/&gt;
    &lt;/text&gt;
&lt;/svg&gt;
&lt;svg width="300" height="100" xmlns="http://www.w3.org/2000/svg"&gt;
    &lt;text font-size="60" y="60" x="160"&gt;马
        &lt;animate attributeName="x" dur="5s" values="0; 80; 160" keyTimes="0; .8; 1" calcMode="linear"/&gt;
    &lt;/text&gt;
&lt;/svg&gt;
&lt;svg width="300" height="100" xmlns="http://www.w3.org/2000/svg"&gt;
    &lt;text font-size="60" y="60" x="160"&gt;马
        &lt;animate attributeName="x" dur="5s" values="0; 80; 160" keyTimes="0; .8; 1" calcMode="spline"  keySplines=".5 0 .5 1; 0 0 1 1" /&gt;
    &lt;/text&gt;
&lt;/svg&gt;</pre></div>
                </li>
            </ul>
        </div>       
    </div>
    <link rel="import" href="../include/footer.html">
</body>
</html>