<!DOCTYPE html>
<html lang="en">
<head>
    <title>img元素crossOrigin属性跨域数据获取</title>
    <link rel="import" href="../include/meta.html">
    <style>
.demo {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.error {
    color: red;
}
.success {
    color: green;
}

section div {
    max-width: 300px;
}
    </style>
</head>
<body>
    <link rel="import" href="../include/header.html">
    <div class="main">
        <h1>img元素crossOrigin属性跨域数据获取演示页面</h1>
        <div class="show">
            <h3>展示</h3>
            <div class="go-bbs"><a href="https://github.com/zhangxinxu/htmlapi/issues" class="go-bbs">提问交流 &raquo;</a></div>
            <div class="demo">
                
<section>
    <h4>设置了crossorigin=""</h4>
    <img src="https://avatars3.githubusercontent.com/u/496048?s=120&v=4" crossorigin="">
    <p>
        <button class="button">getImageData运行</button>
    </p>
    <div>
        <output></output>
    </div>
</section>

<section>
    <h4>没有设置crossorigin=""</h4>
    <img src="https://avatars3.githubusercontent.com/u/496048?s=120&v=4">
    <p>
        <button class="button">getImageData运行</button>
    </p>
    <div>
        <output></output>
    </div>
</section>
            </div>

            <h3>代码</h3>
            <ul class="codes">
                <li class="code_li">
                    <div class="code_x">
                        <h5>HTML：</h5>
    <pre name="code" class="html">&lt;section&gt;
    &lt;h4&gt;设置了crossorigin=""&lt;/h4&gt;
    &lt;img src="https://avatars3.githubusercontent.com/u/496048?s=120&amp;v=4" crossorigin=""&gt;
    &lt;p&gt;
        &lt;button class="button"&gt;getImageData运行&lt;/button&gt;
    &lt;/p&gt;
    &lt;div&gt;
        &lt;output&gt;&lt;/output&gt;
    &lt;/div&gt;
&lt;/section&gt;

&lt;section&gt;
    &lt;h4&gt;没有设置crossorigin=""&lt;/h4&gt;
    &lt;img src="https://avatars3.githubusercontent.com/u/496048?s=120&amp;v=4"&gt;
    &lt;p&gt;
        &lt;button class="button"&gt;getImageData运行&lt;/button&gt;
    &lt;/p&gt;
    &lt;div&gt;
        &lt;output&gt;&lt;/output&gt;
    &lt;/div&gt;
&lt;/section&gt;</pre></div>
                </li>
                <li class="code_li">
                    <div class="code_x">
                        <h5>JS：</h5>
    <pre name="code" class="js">document.querySelectorAll('button').forEach(function (button) {
    button.addEventListener('click', function () {
        // 转换对象元素和输出结果元素
        const eleImg = this.closest('section').querySelector('img');
        const eleOutput = this.closest('section').querySelector('output');

        // 创建画布元素
        const canvas = document.createElement('canvas');

        // 确定尺寸
        canvas.width = eleImg.naturalWidth;
        canvas.height = eleImg.naturalHeight;

        // 绘制
        const context = canvas.getContext('2d');
        context.drawImage(eleImg, 0, 0);

        try {
            console.log(context.getImageData(0, 0, canvas.width, canvas.height));
            eleOutput.className = 'success';
            eleOutput.innerHTML = '获取成功，数据见控制台console输出';
        } catch (err) {
            eleOutput.className = 'error';
            eleOutput.innerHTML = '获取失败：' + err;
        }

        // 按钮禁用
        button.disabled = true;
    })
});</pre>
                    </div>
                </li>
            </ul>
        </div>       
    </div>
    <script>
        document.querySelectorAll('button').forEach(function (button) {
            button.addEventListener('click', function () {
                // 转换对象元素和输出结果元素
                const eleImg = this.closest('section').querySelector('img');
                const eleOutput = this.closest('section').querySelector('output');

                // 创建画布元素
                const canvas = document.createElement('canvas');

                // 确定尺寸
                canvas.width = eleImg.naturalWidth;
                canvas.height = eleImg.naturalHeight;

                // 绘制
                const context = canvas.getContext('2d');
                context.drawImage(eleImg, 0, 0);

                try {
                    console.log(context.getImageData(0, 0, canvas.width, canvas.height));
                    eleOutput.className = 'success';
                    eleOutput.innerHTML = '获取成功，数据见控制台console输出';
                } catch (err) {
                    eleOutput.className = 'error';
                    eleOutput.innerHTML = '获取失败：' + err;
                }

                // 按钮禁用
                button.disabled = true;
            })
        });
    </script>
    <link rel="import" href="../include/footer.html">
</body>
</html>