<!DOCTYPE html>
<html lang="en">
<head>
    <title>SVG viewBox属性原理分步演示</title>
    <link rel="import" href="../include/meta.html">
    <style>
        .demo {
            width: 200px;
            margin-inline: auto;
            text-align: start;
        }
    </style>
<style>
.cover { width:40px; height:30px; display: none; position:absolute; border: 1px solid #cd0000; transition: 1s; }
</style>
</head>
<body>
    <link rel="import" href="../include/header.html">
    <div class="main">
        <h1>SVG viewBox属性原理分步演示</h1>
        <div class="show">
            <h3>展示</h3>
            <div class="go-bbs"><a href="https://github.com/zhangxinxu/htmlapi/issues" class="go-bbs">提问交流 &raquo;</a></div>
            <div class="demo">
<p><strong id="text">点击下一步，显示viewBox区域</strong></p>
<svg id="cover" width="40" height="30" viewBox="0 0 40 30" class="cover"><rect x="10" y="5" width="20" height="15" fill="#cd0000"/></svg>
<svg id="svg" width="400" height="300" style="border:1px solid #cd0000;">
    <rect x="10" y="5" width="20" height="15" fill="#cd0000"/>
</svg>
<p><input id="button" type="button" value="下一步"></p>
            </div>
        </div>       
    </div>
<script>
var svg = document.getElementById("svg"), 
    button = document.getElementById("button"), 
	cover = document.getElementById("cover"), 
	text = document.getElementById("text");
var step = 0, timer = null, width = 40, height = 30;
if (svg && button) {
	button.addEventListener("click", function() {
		if (timer != null) return;
		step++;
		if (step == 1) {
			cover.style.display = "block";
			text.innerHTML = "点击下一步，执行视区全屏动画";
			svg.getElementsByTagName("rect")[0].style.display = "none";
		} else if (step == 2) {
			cover.style.width = "400px";
			cover.style.height = "300px";
			timer = setTimeout(function() {
				text.innerHTML = "点击下一步，状态还原";	
				clearTimeout(timer);
				timer = null;
			}, 1000);
		} else if (step == 3) {
			cover.style.display = "none";
			cover.style.width = "";
			cover.style.height = "";
			svg.getElementsByTagName("rect")[0].style.display = "";
			text.innerHTML = "点击下一步，显示viewBox区域";
			step = 0;
		}
	});
}
</script>
    <link rel="import" href="../include/footer.html">
</body>
</html>