<!DOCTYPE html>
<html lang="en">
<head>
    <title>SVG图形绘制到Canvas画布</title>
    <link rel="import" href="../include/meta.html">
    <style>
        .demo {
            width: 300px;
            margin-inline: auto;
            text-align: start;
        }
        svg, canvas {
            background-color: #eee;
        }
    </style>
</head>
<body>
    <link rel="import" href="../include/header.html">
    <div class="main">
        <h1>SVG图形绘制到Canvas画布</h1>
        <div class="show">
            <h3>展示</h3>
            <div class="go-bbs"><a href="https://github.com/zhangxinxu/htmlapi/issues" class="go-bbs">提问交流 &raquo;</a></div>
            <div class="demo">
<h4>SVG原图</h4>
<svg width="100" height="100">
    <circle cx="50" cy="50" r="40"></circle>
</svg>

<h4>Canvas绘制</h4>
<canvas></canvas>
            </div>

            <h3>代码</h3>
            <ul class="codes">
                <li class="code_li">
                    <div class="code_x">
                        <h5>HTML：</h5>
    <pre name="code" class="html">&lt;h4&gt;SVG原图&lt;/h4&gt;
&lt;svg width="100" height="100"&gt;
    &lt;circle cx="50" cy="50" r="40"&gt;&lt;/circle&gt;
&lt;/svg&gt;

&lt;h4&gt;Canvas绘制&lt;/h4&gt;
&lt;canvas&gt;&lt;/canvas&gt;</pre></div>
                </li>
                <li class="code_li">
                    <div class="code_x">
                        <h5>JS：</h5>
    <pre name="code" class="js">// SVG安全转义的方法
const encodeSvg = function (str) {
  return "data:image/svg+xml," + str.replace(/"/g,"'").replace(/%/g,"%25").replace(/#/g,"%23").replace(/{/g,"%7B").replace(/}/g,"%7D").replace(/&lt;/g,"%3C").replace(/&gt;/g,"%3E");
}
// canvas绘制元素
const canvas = document.querySelector('canvas');
const context = canvas.getContext('2d');
// 临时创建一个IMG元素
const img = document.createElement('img');
img.onload = () =&gt; {
  context.drawImage(img, 0, 0);
}
// 需要处理的SVG元素
const svg = document.querySelector('svg');
// 添加命名空间，如果有命名空间此代码无需执行
svg.setAttribute('xmlns', 'http://www.w3.org/2000/svg');
// 转义并作为属性值
img.src = encodeSvg(svg.outerHTML); </pre>
                    </div>
                </li>
            </ul>
        </div>       
    </div>
<script>
// SVG安全转义的方法
const encodeSvg = function (str) {
  return "data:image/svg+xml," + str.replace(/"/g,"'").replace(/%/g,"%25").replace(/#/g,"%23").replace(/{/g,"%7B").replace(/}/g,"%7D").replace(/</g,"%3C").replace(/>/g,"%3E");
}
// canvas绘制元素
const canvas = document.querySelector('canvas');
const context = canvas.getContext('2d');
// 临时创建一个IMG元素
const img = document.createElement('img');
img.onload = () => {
  context.drawImage(img, 0, 0);
}
// 需要处理的SVG元素
const svg = document.querySelector('svg');
// 添加命名空间，如果有命名空间此代码无需执行
svg.setAttribute('xmlns', 'http://www.w3.org/2000/svg');
// 转义并作为属性值
img.src = encodeSvg(svg.outerHTML); 
</script>
    <link rel="import" href="../include/footer.html">
</body>
</html>