<!DOCTYPE html>
<html lang="en">
<head>
    <title>video元素实现运营动效</title>
    <link rel="import" href="../include/meta.html">
    <meta name="referrer" content="no-referrer" />
    <style>
figure {
    display: inline-grid;
}
video {
    mix-blend-mode: screen;
}
figure :is(video, img) {
    grid-area: 1 / 1;
}
    </style>
</head>
<body>
    <link rel="import" href="../include/header.html">
    <div class="main">
        <h1>video元素实现运营动效演示页面</h1>
        <div class="show">
            <h3>展示</h3>
            <div class="go-bbs"><a href="https://github.com/zhangxinxu/htmlapi/issues" class="go-bbs">提问交流 &raquo;</a></div>
            <div class="demo">
                
<figure>
    <img src="https://image.zhangxinxu.com/image/blog/202312/night.jpg" width="150" height="267">
    <video width="150" height="267" autoplay loop muted webkit-playsinline="true" playsinline="true" x5-video-player-type="h5" x5-video-orientation="portraint" x5-video-player-fullscreen="true" src="https://image.zhangxinxu.com/video/blog/201905/fire.mp4"></video>
</figure>

<p class="remind">不动点击播放</p>
            </div>

            <h3>代码</h3>
            <ul class="codes">
                <li class="code_li">
                    <div class="code_x">
                        <h5>HTML：</h5>
    <pre name="code" class="html">&lt;figure&gt;
    &lt;img src="night.jpg" width="150" height="267"&gt;
    &lt;video width="150" height="267" autoplay loop muted playsinline="true" src="fire.mp4"&gt;&lt;/video&gt;
&lt;/figure&gt;</pre></div>
                </li>
                <li class="code_li">
                    <div class="code_x">
                        <h5>CSS：</h5>
    <pre name="code" class="css">figure {
    display: inline-grid;
}
video {
    mix-blend-mode: screen;
}
figure :is(video, img) {
    grid-area: 1 / 1;
}</pre></div>
                </li>
            </ul>
        </div>       
    </div>
<script>
    document.querySelector('video').addEventListener('click', function () {
        this.play();
    });
</script>
    <link rel="import" href="../include/footer.html">
</body>
</html>