<!DOCTYPE html>
<html lang="en">
<head>
    <title>table等分布局和flex等分布局差异</title>
    <link rel="import" href="../include/meta.html">
    <link rel="stylesheet" href="https://unpkg.com/lu2/theme/edge/css/common/ui/LightTip.css">
    <style>
.demo {
    width: 300px;
    margin-inline: auto;
    text-align: start;
}

.table {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.table .td {
  display: table-cell;
}
.flex {
  display: flex;
}
.flex .item {
  flex: 1;
}
:is(.table, .flex) img {
  width: 100%;
}
.td, .item {
  border: 1px solid;
}
:is(.table, .flex) p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

    </style>
</head>
<body>
    <link rel="import" href="../include/header.html">
    <div class="main">
        <h1>table等分布局和flex等分布局差异演示页面</h1>
        <div class="show">
            <h3>展示</h3>
            <div class="go-bbs"><a href="https://github.com/zhangxinxu/htmlapi/issues" class="go-bbs">提问交流 &raquo;</a></div>
            <div class="demo">
<h4 class="fill">Table布局</h4>
<div class="table">
  <div class="td"><p>我是一段长文字，我要打点显示</p></div>
  <div class="td"><img src="/assets/example.jpg"></div>
  <div class="td">文字</div>
</div>

<h4 class="fill">Flex布局</h4>
<div class="flex">
  <div class="item"><p>我是一段长文字，我要打点显示</p></div>
  <div class="item"><img src="/assets/example.jpg"></div>
  <div class="item">文字</div>
</div>


            </div>

            <h3>代码</h3>
            <ul class="codes">
                <li class="code_li">
                    <div class="code_x">
                        <h5>HTML：</h5>
    <pre name="code" class="html">&lt;h4 class="fill"&gt;Table布局&lt;/h4&gt;
&lt;div class="table"&gt;
  &lt;div class="td"&gt;&lt;p&gt;我是一段长文字，我要打点显示&lt;/p&gt;&lt;/div&gt;
  &lt;div class="td"&gt;&lt;img src="/assets/example.jpg"&gt;&lt;/div&gt;
  &lt;div class="td"&gt;文字&lt;/div&gt;
&lt;/div&gt;

&lt;h4 class="fill"&gt;Flex布局&lt;/h4&gt;
&lt;div class="flex"&gt;
  &lt;div class="item"&gt;&lt;p&gt;我是一段长文字，我要打点显示&lt;/p&gt;&lt;/div&gt;
  &lt;div class="item"&gt;&lt;img src="/assets/example.jpg"&gt;&lt;/div&gt;
  &lt;div class="item"&gt;文字&lt;/div&gt;
&lt;/div&gt;</pre></div>
                </li>
                <li class="code_li">
                    <div class="code_x">
                        <h5>CSS：</h5>
    <pre name="code" class="css">.table {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.table .td {
  display: table-cell;
}
.flex {
  display: flex;
}
.flex .item {
  flex: 1;
}
:is(.table, .flex) img {
  width: 100%;
}
.td, .item {
  border: 1px solid;
}
:is(.table, .flex) p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}</pre>
                    </div>
                </li>
            </ul>
        </div>       
    </div>
    <link rel="import" href="../include/footer.html">
</body>
</html>