<!DOCTYPE html>
<html lang="en">
<head>
  <title>caption元素特性与文字排版</title>
  <link rel="import" href="../include/meta.html">
  <style>
    .demo {
      width: fit-content;
      margin-inline: auto;
      text-align: start;
    }
.section-1 {
  display: table;
}
.section-1 p {
  display: table-caption;
  caption-side: bottom;

  margin-top: 0;
}
.section-2 {
  width: min-content;
  white-space: nowrap;
}
.section-2 p {
  white-space: normal;
}

.demo h2 {
  font-size: calc(var(--font-size) * 1px);
}
  </style>
</head>
<body>
    <link rel="import" href="../include/header.html">
    <div class="main">
        <h1>caption元素特性与文字排版演示页面</h1>
        <div class="show">
            <h3>展示</h3>
            <div class="go-bbs"><a href="https://github.com/zhangxinxu/htmlapi/issues" class="go-bbs">提问交流 &raquo;</a></div>
            <div class="demo" style="--font-size: 24">
标题字号：<input type="range" min="16" max="36" value="24" step="2" oninput="this.parentElement.style.setProperty('--font-size', this.value)">
<h4 class="fill">table-caption方法</h4>
<section class="section-1">
  <h2>网站slogon<br>科技以人为本</h2>
  <p>我是对slogon内容的解释与说明，我的宽度不能超过slogon文字区域宽度，无论上面标题字号大小是多少</p>
</section>

<h4 class="fill">min-content方法</h4>
<section class="section-2">
  <h2>网站slogon<br>科技以人为本</h2>
  <p>我是对slogon内容的解释与说明，我的宽度不能超过slogon文字区域宽度，无论上面标题字号大小是多少</p>
</section>
            </div>

            <h3>代码</h3>
            <ul class="codes">
                <li class="code_li">
                    <div class="code_x">
                        <h5>HTML：</h5>
    <pre name="code" class="html">&lt;h4 class="fill"&gt;table-caption方法&lt;/h4&gt;
&lt;section class="section-1"&gt;
  &lt;h2&gt;网站slogon&lt;br&gt;科技以人为本&lt;/h2&gt;
  &lt;p&gt;我是对slogon内容的解释与说明，我的宽度不能超过slogon文字区域宽度，无论上面标题字号大小是多少&lt;/p&gt;
&lt;/section&gt;

&lt;h4 class="fill"&gt;min-content方法&lt;/h4&gt;
&lt;section class="section-2"&gt;
  &lt;h2&gt;网站slogon&lt;br&gt;科技以人为本&lt;/h2&gt;
  &lt;p&gt;我是对slogon内容的解释与说明，我的宽度不能超过slogon文字区域宽度，无论上面标题字号大小是多少&lt;/p&gt;
&lt;/section&gt;</pre></div>
                </li>
                <li class="code_li">
                    <div class="code_x">
                        <h5>CSS：</h5>
    <pre name="code" class="css">.section-1 {
  display: table;
}
.section-1 p {
  display: table-caption;
  caption-side: bottom;
}
.section-2 {
  width: min-content;
  white-space: nowrap;
}
.section-2 p {
  white-space: normal;
}</pre>
                    </div>
                </li>
            </ul>
        </div>       
    </div>
    <link rel="import" href="../include/footer.html">
</body>
</html>